<!doctype html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="baidu-site-verification" content="iDdbD2nj2e" />
        <meta name="author" content="乐者无界">
        <meta name="keywords" content="兵兵博客_乐者无界">
        <meta name="description" content="乐者无界/兵兵博客、技术、生活、游戏">
        <title>乐者无界</title>
        <link rel="stylesheet" th:href="@{/index/js/layui/css/layui.css}">
        <link rel="stylesheet" th:href="@{/index/css/style.css}">
        <link rel="stylesheet" th:href="@{/index/css/index.css}">
        <link rel="stylesheet" th:href="@{/index/css/right.css}">
        <script th:src="@{/index/js/push.js}"></script>
        <script th:src="@{/index/js/hm.js}"></script>
        <script th:src="@{/index/js/jquery-1.9.1.min.js}"></script>
        <script th:src="@{/index/js/lanrenzhijia.js}"></script>
        <script th:src="@{/index/js/layui/layui.js}"></script>
        <link rel="stylesheet" th:href="@{/index/js/layui/css/layui.css}" media="all">
    </head>
    <body>
        <div class="tpt-header">
            <div class="tpt-wp cl">
                <div class="tpt-logo">
                    <a th:href="@{/}"><img th:src="@{/index/images/logo.png}" alt="兵兵博客"></a>
                </div>
                <input id="nav-btn" type="checkbox">
                <label class="tpt-nav-btn" for="nav-btn"></label>
                <ul class="tpt-nav">
                    <li>
                        <a class="tpt-nav-li" th:href="@{/}">首页</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                    <li>
                        <a class="tpt-nav-li" th:href="@{/article/1}">技术分享</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                    <li>
                        <a class="tpt-nav-li" th:href="@{/article/2}">技术资讯</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                    <li>
                        <a class="tpt-nav-li" th:href="@{/article/3}">生活娱乐</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                    <li>
                        <a class="tpt-nav-li" th:href="@{/add}">博客管理</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tpt-wp cl">
            <div class="tpt-ml-7">
                <div class="tpt-con1">
                    <!--轮播-->
                    <div class="tpt-banner tpt-none-768 cl">
                        <div class="layui-carousel" id="banner" style="width: 100%; height: 320px;">
                            <div carousel-item="">
                                <div class="">
                                    <a href="#"><img th:src="@{/index/images/lunbo1.jpg}" alt="兵兵博客"></a>
                                </div>
                                <div class="">
                                    <a href="#"><img th:src="@{/index/images/lunbo2.jpg}" alt="兵兵博客"></a>
                                </div>
                            </div>
                        </div>
                        <script>
                            layui.use('carousel', function(){
                                var carousel = layui.carousel;
                                carousel.render({
                                    elem: '#banner'
                                    ,width: '100%'
                                    ,height: '280px'
                                    ,interval: 4000
                                    ,arrow: 'always'
                                });
                            });
                        </script>
                    </div>
                    <!--最新文章-->
                    <ul class="tpt-list">
                        <h3>最新文章</h3>
                        <li class="tpt-list-li" th:each="article : ${list.list}">
                            <a th:href="@{'/detail/'+${article.id}}" target="_blank" class="tpt-list-avatar"><img th:src="@{'/images/'+${article.img}}"> </a>
                            <h2 class="tpt-tip"><a th:href="@{'/detail/'+${article.id}}" target="_blank" th:text="${article.title}"></a></h2>
                            <p class="tpt-none-768" th:text="${article.remark}"></p>
                            <p>
                                <span class="tpt-none-768" th:text="${#dates.format(article.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                浏览量:<span class="tpt-none-768" th:text="${article.clickNum}"></span>
                            </p>
                            <p style="padding-top: 0;line-height: 20px;">
                                <span class="tpt-none-768 tpt-none-1024 tpt-none-1200 y" style="padding-right: 0;">标签:<a href="#" target="_self" style="padding-left: 10px;" th:text="${article.tagName}"></a></span>
                            </p>
                        </li>
                        <div id="demo0" style="text-align: center;"></div>
                        <input type="hidden" th:value="${list.total}" id="pageTotal"> <!-- 总条数 -->
                        <input type="hidden" th:value="${list.pageNum}" id="page">　　<!-- 第几页 -->
                        <script>
                            layui.use(['laypage', 'layer'], function(){
                                var laypage = layui.laypage
                                    ,layer = layui.layer;
                                laypage.render({
                                    elem: 'demo0',
                                    count: $("#pageTotal").val(),
                                    limit: 9,
                                    curr:$("#page").val(),
                                    jump:function (obj,first){
                                        if(!first){
                                            window.location.href="/index?pageNum="+obj.curr
                                        }
                                    }
                                });
                            })
                        </script>
                    </ul>
                </div>
            </div>
            <div class="tpt-mr-3">
                <div class="tpt-con2">
                    <div class="tpt-sidebar cl">
                        <h3>每日一语</h3>
                        <div class="tpt-f cl" th:text="${quotation.name}"></div>
                    </div>
                    <div class="tpt-sidebar cl">
                        <h3>博主介绍</h3>
                        <div class="cl">
                            <div class="intro"><img th:src="@{/index/images/memeber.gif}"><span th:text="${user.name}"></span></div>
                            <div class="intro"><img th:src="@{/index/images/msn.gif}"><a th:href="${user.github}" target="_blank"><span th:text="${user.github}"></span></a></div>
                            <div class="introduce"><img th:src="@{/index/images/myaccount.gif}"><span th:text="${user.remark}"></span></div>
                            <div class="intro b-intro"><img th:src="@{/index/images/process.gif}"><span th:text="${day}+'天'"></span><span th:text="${hour}+'小时'"></span><span th:text="${min}+'分钟'"></span></div>
                        </div>
                    </div>
                    <div class="tpt-sidebar cl">
                        <h3>热门标签</h3>
                        <div class="tpt-f cl">
                            <span th:each="tag : ${tags}">
                                <a href="#"  target="_self" th:text="${tag.name}"></a>
                            </span>
                        </div>
                    </div>
                    <div class="tpt-sidebar cl">
                        <h3>热门推荐</h3>
                        <ul class="tpt-c cl">
                            <li th:each="article : ${articles}">
                                <a th:href="@{'/detail/'+${article.id}}" target="_blank" th:text="${article.title}"></a>
                                <p th:text="${#dates.format(article.createTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tpt-footer footer tpt-mat-30 cl">
            <div class="tpt-wp cl">
                <div class="tpt-md-1">
                    <div class="tpt-mds">
                        <p class="bq"> Copyright © 2017-2018 <span class="pipe">|</span>
                            <a class="banquan" target="_blank" href="http://www.bbximi.com/">备案号：粤ICP备18147077号</a><span class="pipe">|</span>
                            <span class="tpt-none-768 tpt-none-1024">Powered by 兵兵博客 <span class="pipe">|</span>
                                <a href="http://www.bbximi.com" target="_blank"> 邮箱:414107871@qq.com</a> <span class="pipe">|</span>
                                <a href="http://www.bbximi.com" target="_blank">QQ:414107871</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
