#idea
.idea
*.iml
*.ipr
*.iws
out

#gradle
.gradle
build
bin
gradle.properties


#eclipse
.classpath
.project
.settings
classes

#log
logs

## fontend
bower_components
node_modules

# git
*.orig

*-local.properties
config-local
TestAction.java

application-dev.properties
/pms-base-data/src/main/resources/config/test.properties
#web/src/main/webapp/assets/
web/src/main/webapp/css/

.sublime-gulp.cache


package-lock.json

resources-*

target