<!doctype html >
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="乐者无界">
        <meta name="keywords" th:content="${article.title}">
        <meta name="description" content="乐者无界/兵兵博客、技术、生活、游戏">
        <title th:text="${article.title}"></title>
        <link rel="stylesheet" th:href="@{/index/js/layui/css/layui.css}">
        <link rel="stylesheet" th:href="@{/index/css/style.css}">
        <link rel="stylesheet" th:href="@{/index/css/thread.css}">
        <link rel="stylesheet" th:href="@{/index/css/index.css}">
        <link rel="stylesheet" th:href="@{/index/css/right.css}">
        <script th:src="@{/index/js/push.js}"></script>
        <script th:src="@{/index/js/hm.js}"></script>
        <script th:src="@{/index/js/jquery-1.9.1.min.js}"></script>
        <script th:src="@{/index/js/lanrenzhijia.js}"></script>
        <script th:src="@{/index/js/layui/layui.js}"></script>
        <link rel="stylesheet" th:href="@{/index/js/layui/css/layui.css}" media="all">
    </head>
    <body>
        <div class="tpt-header">
            <div class="tpt-wp cl">
                <div class="tpt-logo">
                    <a href="https://www.91boke.cn/index/index.html"><img th:src="@{/index/images/logo.png}" alt="兵兵博客"></a>
                </div>
                <input id="nav-btn" type="checkbox">
                <label class="tpt-nav-btn" for="nav-btn"></label>
                <ul class="tpt-nav">
                    <li>
                        <a class="tpt-nav-li" th:href="@{/}">首页</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                    <li>
                        <a class="tpt-nav-li" th:href="@{/article/1}">技术</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                    <li>
                        <a class="tpt-nav-li" th:href="@{/article/2}">生活</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                    <li>
                        <a class="tpt-nav-li" th:href="@{/article/3}">游戏</a>
                        <ul class="tpt-nav-ul"></ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tpt-wp cl">
            <div class="tpt-ml-7">
                <div class="tpt-con1">
                    <div class="content">
                        <div class="tpt-thread">
                            <h1><a href="#" th:text="${article.title}"></a></h1>
                            <div class="tpt-tip">
                                <div class="tpt-list-hint">
                                    <i style="font-weight: bold;color: #ff0000;font-style:normal;">推荐标签：</i>
                                    <span><a href="#" th:text="${article.tagName}"></a></span>
                                </div>
                            </div>

                            <div class="wangEditor-container cl" style="border: 0px solid #e6e6e6;min-height: 200px;">
                                <div class="wangEditor-txt" style="padding: 0;margin-top: 0;" th:utext="${content}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tpt-mr-3">
                <div class="tpt-con2">
                    <div class="tpt-sidebar cl">
                        <h3>热门标签</h3>
                        <div class="tpt-f cl">
                            <span th:each="tag : ${tags}">
                                <a href="#"  target="_blank" th:text="${tag.name}"></a>
                            </span>
                        </div>
                    </div>
                    <div class="tpt-sidebar cl">
                        <h3>热门推荐</h3>
                        <ul class="tpt-c cl">
                            <li th:each="article : ${articles}">
                                <a th:href="@{'/detail/'+${article.id}}" target="_blank" th:text="${article.title}"></a>
                                <p th:text="${#dates.format(article.createTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="tpt-footer footer tpt-mat-30 cl">
            <div class="tpt-wp cl">
                <div class="tpt-md-1">
                    <div class="tpt-mds">
                        <p class="bq"> Copyright © 2017-2018 <span class="pipe">|</span>
                            <a class="banquan" target="_blank" href="http://www.bbximi.com/">备案号：粤ICP备18147077号</a><span class="pipe">|</span>
                            <span class="tpt-none-768 tpt-none-1024">Powered by 兵兵博客 <span class="pipe">|</span>
                                <a href="http://www.bbximi.com" target="_blank"> 邮箱:414107871@qq.com</a> <span class="pipe">|</span>
                                <a href="http://www.bbximi.com" target="_blank">QQ:414107871</a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
