.content{margin-left:80px}
.bdsharebuttonbox{width:60px;position:fixed;z-index:30}
.bdsharebuttonbox a{float:left!important;background-color:#fafafa;border-bottom:1px solid #f0f0f0}
.bdsharebuttonbox .bds_qzone1:hover{background-position:-121px -319px!important;background:#ffce0b url(../images/icon.png)}
.bdsharebuttonbox .bds_qzone1{background-position:-121px -259px!important}
.bdsharebuttonbox .bds_tsina1:hover{background-position:11px -318px!important;background:#f74864 url(../images/icon.png)}
.bdsharebuttonbox .bds_tsina1{background-position:10px -259px!important}
.bdsharebuttonbox .bds_weixin1:hover{background-position:-50px -319px!important;background:#31c862 url(../images/icon.png)}
.bdsharebuttonbox .bds_weixin1{background-position:-50px -259px!important}
.bdsharebuttonbox .bds_pin:hover{background-position:-178px -323px!important;background:#3091f4 url(../images/icon.png);color:#fff}
.bdsharebuttonbox .bds_pin{background-position:-178px -253px!important;text-align:center;font-style:normal;line-height:95px;color:#999;font-size:9pt}
.bdsharebuttonbox .bds_ico,.bdsharebuttonbox .bds_ico2{padding-left:0!important;width:60px;height:60px;position:relative;background-image:url(../images/icon.png)}
.bdsharebuttonbox .bds_ico{margin:0!important}
.tpt-thread{margin: 0 0 20px 0;}
.tpt-thread h1{font-size:24px;line-height:30px;padding: 10px 0;}
.tpt-tip{position:relative;margin: 0px 0 15px;border-bottom: 1px solid #f0f0f0;/*padding-bottom: 20px;*/}

.tpt-tip span{

    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
    margin: 0 15px 15px 0;
    border: 1px solid #E3E3E3;
    border-radius: 28px;
    color: #666;
    transition: .5s ease 0s;
}

.tpt-tip-jing{background-color:#c00}
.tpt-tip-stick{background-color:#393D49;margin-right: 5px;}
.tpt-tip-view{background-color:#999}

.tpt-tag-box{position:relative;width:100%;height:30px;margin-bottom:30px;border-bottom:1px solid #F0F0F0}
.tpt-tag-box span{display:inline-block;border-bottom:4px solid #f63756;position:absolute;left:0;bottom:-1px;z-index:1;height:26px;line-height:20px;margin:-28px 0 0;font-size:18px;font-weight:400}
.tpt-tag-tit{font-size:18px;height:18px;line-height:18px;padding:10px 0 20px 0;color:#BBB;border-bottom:1px solid #EEE}
.tpt-tag-tit h2{float:right;height:18px;line-height:18px;font-size:18px;color:#333}
.layui-form .wangEditor-container{border:1px solid #f0f0f0}
.layui-form .wangEditor-container{background-color:#fafafa}
.layui-form .wangEditor-menu-container{border-bottom:1px solid #f0f0f0;background-color:#fafafa}
.jieda-body img {max-width: 100%;height: auto;}
.detail-about{position:relative;margin-top:5px;line-height:20px;background-color:#F2F2F2;padding:15px;color:#999}
.detail-about .jie-user{position:relative}
.detail-about .jie-user,.detail-about span,.jie-about span{margin-right:10px;display:inline-block;vertical-align:top;font-size:12px}
.detail-about .jie-user img{position:relative;display:block;margin:0;top:0;border-radius:50px}
.detail-about-reply{background:0 0;padding:0}
.detail-about-reply .detail-hits{left:56px;bottom:0}
.jie-user cite i{font-style:normal}
.jie-user img{position:absolute;left:0;top:50%;width:46px;height:46px;margin-top:-23px}
.detail-about .jie-user cite{top:-3px;left:56px;width:260px;color:#4f99cf;font-size:14px}
.jie-user cite{position:absolute;right:0;top:10px;line-height:26px;color:#999}
.detail-about .jie-user cite em{padding-left:5px;color:#999;cursor:default;font-size:12px;font-style:normal}
.detail-hits{position:absolute;left:71px;bottom:15px;font-size:0}
.detail-body{margin:10px 0 50px;min-height:202px;line-height:26px;font-size:16px;word-wrap:break-word}
.jieda-body{margin:20px 0 0;min-height:0;line-height:24px;font-size:14px}
.jieda li:last-child{margin-bottom:20px}
.jieda li{position:relative;padding:20px 0;border-bottom:1px dotted #DFDFDF}


@media only screen and (max-width: 767px) {
.content {margin-left: 0px;}
.tpt-thread h1 {font-size: 18px;line-height: 28px;}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
.content {margin-left: 0px;}

}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1200px) {

}
.clxh{ width: 100%}
.clxh li{width:170px;height: 130px;float: left;padding: 0 10px 10px 0;overflow:hidden}
.clxh li img{width: 170px;height: 100px;}